html,
body,
#root,
.App,
.cubes {
    height: 100%;
}
.cubes {

}
.cubesHeader {
    height: 100px;
    background-color: blue;
}
.cubesHeader .avatar {
    float: left;
}
.cubesHeader button {
    height: 50px;
    width: 150px;
    margin: 10px;
    font-size: 36px;
}
.select {
    display: inline-block;
    position: absolute;
    margin-left: 100px;
    margin-top: -50px;    
    height: 50px;
    width: 160px;
    font-size: 28px;
}
.cubesField {
    height: calc(100% - 145px);
    position: relative;
    background: url('./img/bg.png');
}
.cubeContainer {
    position: absolute;
}
.cubeContainer.selected {
    border: 2px solid red;
}
.cube {
    display: block;
    height: 100px;
    width: 100px;
    background: url('./img/cubes.jpg');
    background-size: 435px;
}
.cube.creeper {
    background-position: 0 0;
}
.cube.zombie {
    background-position: -112px 0;
}
.cube.enderman {
    background-position: -224px 0;
}
.cube.skeleton {
    background-position: -336px 0;
}
.cube.player {
    background-position: 0 -112px;
}
.cube.citizen {
    background-position: -112px -112px;
}
.cube.pig {
    background-position: -224px -112px;
}
.cube.cow {
    background-position: -336px -112px;
}
.cube.spider {
    background-position: 0 -224px;
}
.cube.sheep {
    background-position: -112px -224px;
}